

footer{
  padding: 55px 0;
  background-color: #fff;

  .footer_information{
    text-align: center;
    span{
      color: #a8a8a8;

      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}


.button{
  width: 201px;
  height: 55px;
  background-color: #ff9600;
  display: flex;
  margin: 20px auto 0;
  justify-content: center;
  align-items: center;
  align-content: center;

  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  box-shadow: none;
  border: none;
  color: #fff;
  border-radius: 40px;
  &.big_button{
    width: 353px;
  }
  &:hover{
    background-color: #ffb83d;
    text-decoration: none;
    color: #fff;
  }
}











.main_about{
  width: 100%;
  padding: 50px 0;
  display: inline-block;
  p{
    text-align: center;
    color: #282828;

    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }
  .main_about_person{
    margin-top: 70px;
    img{
      width: 100%;
      height: 255px;
      object-fit: cover;

    }
    span{
      display: block;
      margin-top: 35px;
      color: #ff9600;
      line-height: 24px;
      font-size: 18px;
    }
    p{
      text-align: left;
      font-size: 14px;
      color: #838383;
    }
    a{
      width: 100%;
      height: 255px;
      background-color: #f5fbfc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 57px;
      transition: all 0.3s ease;
      &:hover{
        text-decoration: none;
        background-color: #ff9600;
        p,span{
          color: #fff;
        }
      }
      p{
        margin: 0 0 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
      }
      span{
        margin-top: 0;
        color: #ff9600;

        font-size: 18px;

        line-height: 22px;
        i{
          margin-left: 10px;
        }
      }
    }
  }

}
.main_about_item{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 60px 0 70px;
  p{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    max-width: 194px;
    margin-top: 35px;
  }
  img{
    width: 110px;
    object-fit: contain;
    height: 110px;
  }
}
.main_about{
  hr{
    height: 1px;
    background-color: #e8e8e8;
    border: none;
    color: #e6e6e6;
    margin-bottom: 30px;
  }
}

section h2{
  color: #282828;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 45px;

}

.portfolio_main {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
}
.main_question{
  padding: 50px 0 125px;
  width: 100%;
  .button{
    margin: 0 auto;
  }
}

.main_question_item{
  margin-bottom: 40px;
  span{
    color: #2c91d8;

    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    display: block;
    margin-bottom: 15px;
  }
  p{
    opacity: 0.7;
    color: #777777;

    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}





.slider_grid .grid .item a img {

  transition: 3s;

  transform: scale(1);
  &:hover{
    transform: scale(1.2);
  }
}

.slider_grid .grid .item{
  overflow: hidden;
}

.portfolio_main.wedding{
  padding-bottom: 0;
  display: inline-block;
}