@import "vars";


@media only screen and (max-width: 1900px) {
  .sl_tabs {
    background: #fff!important;
    /* float: right; */
    max-width: 1500px;
    width: 100%!important;
  }
  .slider_grid .grid {

    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .slider_grid .grid .item a img {
    height: 266px;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 294px;
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {

}