.page_title{
  font-size: 44px;
  text-align: center;
  margin: 70px 0;
}

.video_item{
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
  &.main_video{
    img{
      height: 650px;

    }
  }
  a {
    display: inline-block;
    &:before {
      content: "";
      background-image: url("../img/video_label.png");
      width: 65px;
      height: 76px;
      display: inline-block;
      position: absolute;
      left: calc(50% - 33px);
      top: calc(50% - 37px);
      cursor: pointer;
      z-index: 2;
    }
    &:after {
      content: "";
      background-color: rgba(0, 0, 0, 0.41);
      width: 100%;
      height: 100%;
      display: inline-block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;

    }
  }
  img{
    width: 100%;
    object-fit: cover;
    height: 267px;

  }
}

// ------------------------ ABOUT --------------------
.about_text{
  p{
    font-size: 18px;
    margin-bottom: 35px;
    text-align: center;
    line-height: 28px;

  }
  img{
    width: 100%;
    margin-bottom: 40px;
  }

}

.about_team{
  margin: 80px 0;
  h2{
    margin-bottom: 50px;
  }
}

.about_team_item{
  margin-bottom: 40px;
  img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  span{
    display: block;
    max-width: 133px;
    margin: 30px auto 5px ;
    text-align: center;
    color: #ff9600;
    font-size: 18px;

    font-weight: 300;
  }
  p{
    color: #838383;

    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}
.technique {
  padding: 20px 0 50px 0;
  max-width: 1920px;
  margin: 0 auto;
}
.technique_slider{
  margin-top: 60px;
  img{
    width: 100%;
    max-width: 200px;
    height: 180px;
    object-fit: contain;
    margin: 0 auto;
  }
  .slide {
    opacity: 0.3;
    padding: 10px 15px  ;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    span{
      color: #282828;

      font-size: 14px;
      font-weight: 300;
      line-height: 50px;
      text-transform: uppercase;
      display: block;
      margin-top: 15px;
      text-align: center;
    }
    &.slick-current{
      opacity: 1;
      transform: scale(1.1);
      transition: all 0.2s ease;

    }
  }
  .NextArrow {
    position: absolute;
    bottom: 50%;
    right: 30%;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 300;
    line-height: 1;
    color: #007ad0;
    font-size: 40px;

    z-index: 5;
    &:before {
      content: '\f178';
    }
    &:hover{
      color: #ff9600;
    }
  }
  .PrevArrow {
    position: absolute;
    bottom: 50%;
    left: 30%;
    width: 45px;
    height: 45px;

    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 40px;
    line-height: 1;
    color: #007ad0;
    background-color: transparent;
    z-index: 5;
    &:before {
      content: '\f177';
    }
    &:hover{
      color: #ff9600;
    }
  }

}

.form_communication{
  padding: 100px 0 50px;
  p{
    color: #282828;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    margin: 40px 0;
    display: block;
    text-align: center;

  }
}
.form_communication_social{
  display: flex;
  justify-content: center;
  li{
    margin-right: 50px;
  }
  a{
    color: #007ad0;
    
    font-size: 14px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    &:hover{
      text-decoration: none;
      color: #ff9600;
      i{
        color: #ff9600;
      }
    }
    i{
      color: #000;
      font-size: 20px;
      margin-right: 10px;
    }
  }

}

// ------------------- TOUR -----
.tour_information{
  background-color: #f5fbfc;
  max-width: 1920px;
  margin: 20px auto;

  display: flex;
  justify-content: center;
}

.tour_information_about{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  > div {
    width: 570px;
    padding-right: 70px;


  }
  h2{
    color: #282828;

    font-size: 44px;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
  }
  ul{
    li{
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 18px;
      padding-left: 20px;
      position: relative;

      &:before{
        font-family: "Font Awesome 5 Pro";
        font-weight: 700;
        line-height: 1;
        color: #ff9600;
        font-size: 8px;
        position: absolute;
        left: 0;
        top: 4px;

        z-index: 5;

        content: '\f111';

      }
    }
  }
  .button{
    margin: 30px 0 0;
  }

}

.tour_information_slider{
  width: 50%;
  img{
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
}
.NextArrow ,.PrevArrow{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  align-content: center!important;
}
.tour_information_slider{
  z-index: 2;
  position: relative;
  .NextArrow {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 200;
    line-height: 1;
    color: #007ad0;
    font-size: 30px;

    z-index: 5;
    &:before {
      content: '\f178';
    }
    &:hover{
      color: #fff;
      background: #007ad0;
    }
  }
  .PrevArrow {
    position: absolute;
    left: 0px;

    bottom: 0;
    width: 45px;
    height: 45px;

    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 30px;
    line-height: 1;
    color: #007ad0;
    background-color: #fff;
    z-index: 5;
    &:before {
      content: '\f177';
    }
    &:hover{
      color: #fff;
      background: #007ad0;
    }
  }
}

.price_section{
  padding: 80px 0;
}