$blue: #172CFB;
$transition: ease-in-out .5s;



.main_header{

  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 101;
  width: 100%;
  max-width: 1480px;
  padding:  0 30px;
  margin: 0 auto -100px;
  align-items: center;
  align-content: center;
  .social {
    margin: 15px 0 0;

    li a {
      color: #646d73;
      font-size: 22px;
      opacity: 0.5;
      color: #282828;
      margin-top: 9px;
    }
  }
}


.menu_btn {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 20;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 3px;
  a {
    opacity: 0.5;
    color: #282828;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    transition: color $transition;
    i{
      margin-right: 21px;
      font-size: 24px;
    }
    &:hover,
    &:focus,
    &:focus-within {
      color: #ff9600;
      text-decoration: none;
    }
  }
}

nav {
  display: block;
}

.panel {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  width: 0%;
  &--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.97);
    right: 0;
  }
}

.line {
  display: block;
  position: absolute;
  left: -3.5rem;
  top: 4.5rem;
  width: 2.8rem;
  height: 0.1rem;
  background: rgba(130, 130, 130, .6);
  opacity: 0;
}

.navigation ul li,
.navigation ul li a,
.navigation ul li a span {
  position: relative;
  display: block;
}

.navigation {
  width: 100%;
  height: 100%;
  &.active{
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    bottom: 0;
    right: 0;
  }

  h2 {
    width: 0;
    height: 0;
    text-indent: -9999px;
  }
  .menu-list {
    display: flex;
    flex: 8;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    >li {

      position: relative;
      clear: both;

      @media only screen and (max-width: 767px) {
        font-size: 4rem;
      }

      a {
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        transition: color $transition;
        font-size: 30px;
        text-transform: uppercase!important;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        span{
          text-transform: uppercase!important;
        }
        &:after{
          content: "";
          background-color: #292b2c;
          height: 2px;
          width: 100px;
          position: relative;


          display: block;
          left: calc(50% - 50px);
          margin-top: 30px;

        }
        &:hover,
        &:focus,
        &:focus-within {
          color: #ff9500;
        }
        >span {
          top: 0;
          text-transform: capitalize;
          transform: translate(0, -100%);
        }
      }
    }
  }
}



.close_btn {
  position: absolute;
  top: 50px;
  left: 100px;
  a {
    font-size: 18px;
    color: #868686;
    padding: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    transition: color $transition;
    i{
      margin-right: 15px;
      font-size: 30px;
    }
    &:hover,
    &:focus,
    &:focus-within {
      color: #ff9600;
      text-decoration: none;
    }
  }
}


footer{
  background-image: url("../img/footer_bg.jpg");

  width: 100%;
  padding: 40px 0 50px;
  .footer_wrap{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

  }
  .menu-list{
    display: flex;
    margin-bottom: 35px;
    li{
      margin-right: 55px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #616161;
        font-size: 14px;
        &:hover{
          color: #ff9600;
          text-decoration: none;
        }
      }
    }
  }
}
.social{
  display: flex;
  justify-content: center;
  margin: 30px;
  li{
    margin-right: 22px;
    &:last-child{
      margin-right: 0;
    }
    a{
      color: #c2c8ca;
      font-size: 22px;
      &:hover{
        color: #ff9600;
      }
    }
  }

}
.footer_inform{
  p {
    opacity: 0.5;
    color: #616161;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
  }
  span{
    opacity: 0.5;
    color: #616161;
    display: block;
    text-align: center;
    font-size: 12px;
  }
}

