@import "vars";
@import "animated";
@import "libs";
@import "main_page";
@import "main_slider";
@import "header";
@import "slider";
@import "all_page";

::placeholder {
  color: #959595;
}

::selection {
  background-color: #ffa742;
  color: #fff;
}
h1,h2,h3{
  font-weight: 300;
}
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  color: #282828;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  background-color: #fff;
  -webkit-appearance: none;

}

a , button{
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none!important;
  border: none;
  cursor: pointer;
}

input{
  &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
    border: none !important;
    outline: none;
    height: 54px;
    background-color: #eeeeee;
    width: 100%;
    color: #333;
    margin-bottom: 30px;
    border-radius: 5px;

    font-size: 16px;

    font-weight: 300;

    line-height: 54px;
    padding: 0 20px;
  }
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
textarea{
  height: 140px;
  line-height: 20px;
  padding:  15px 20px ;
  border: none!important;
  outline: none;
  color: #333;
  background-color: #eeeeee;
  width: 100%;
  font-size: 16px;

  margin-bottom: 30px;
  color: #333;
  font-weight: 300;
  resize: none;
  border-radius: 5px;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    list-style: none;
  }
}

@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
body{

  -webkit-font-smoothing: antialiased;

  &:before,
  &:after{
    content: '';
    height: 50vh;
    width:100%;
    position:fixed;
    left:0;
    background: #1c2020;
    z-index:1;

  }

  &:before{
    top: 0;
    transform: translateY(-100%);
  }
  &:after{
    bottom: 0;
    transform: translateY(100%);
  }

  /*&.is-changing{
    &:before,
    &:after{
      transform: translateY(0);
    }
  }*/

}


.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 500;
  opacity: 0;

  > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out;
  }

  .bar1{
    background-color: #754fa0 ;
  }
  .bar2{
    background-color: #09b7bf;
    animation-delay: -0.7s;
  }
  .bar3{
    background-color: #90d36b;
    animation-delay: -0.6s;
  }
  .bar4{
    background-color: #f2d40d;
    animation-delay: -0.5s;
  }
  .bar5{
    background-color: #fcb12b;
    animation-delay: -0.4s;
  }
  .bar6{
    background-color: #ed1b72;
    animation-delay: -0.3s;
  }
}
main {
  height: 100vh;
  /* padding: 10px; */
  text-align: center;

  .-content{
    position: relative;
    height: 100vh;

    > div {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
    }

    &.-index{
      background-color: #f6f6f6;
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
@import "media"; // Always at the end
