.slick-filter {
  text-align:center;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: #282828;

  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  margin-bottom: 45px;

}
.slick-filter button {
  color: #797979;

  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  font-weight: 300;

  cursor: pointer;
  padding: 0;
  margin-right: 30px;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 15px;

  border-bottom: 2px solid transparent;
  &.active{
    color: #000;
    border-bottom: 2px solid #ff9600;
  }
  &:last-child{
    margin-right: 0;
  }
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 33.333333%;
  float: left;

}

.portfolio_slider {
  background: #fff!important;
  float: right;
  max-width: 1527px;

  .NextArrow {
    position: absolute;
    top: calc(50% + 26px);
    left: 4px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 200;
    line-height: 1;
    color: #007ad0;
    font-size: 30px;

    z-index: 5;
    &:before {
      content: '\f178';
    }
    &:hover{
      color: #fff;
      background: #007ad0;
    }
  }
  .PrevArrow {
    position: absolute;
    left: 4px;
    top: calc(50% - 27px);
    width: 45px;
    height: 45px;

    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 30px;
    line-height: 1;
    color: #007ad0;
    background-color: #fff;
    z-index: 5;
    &:before {
      content: '\f177';
    }
    &:hover{
      color: #fff;
      background: #007ad0;
    }
  }


}
