
<footer>
    <div class="container">
        <div class="footer_wrap">
            <ul class="menu-list">
                <li class="menu-item current-menu-item">
                    <a href="#">Свадьбы </a>
                </li>
                <li class="menu-item ">
                    <a href="#">Фото-экскурсии</a>
                </li>
                <li class="menu-item ">
                    <a href="#">Портфолио</a>
                </li>
                <li class="menu-item ">
                    <a href="#">Обо мне </a>
                </li>
                <li class="menu-item">
                    <a href="#">Цены</a>
                </li>
                <li class="menu-item ">
                    <a href="#">Контакты</a>
                </li>

            </ul>

            <a href="#" class="logo_footer">
                <img src="img/logo.png" alt="">
            </a>
            <ul class="social">
                <li><a href="#"><i class="fab fa-vk"></i></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="footer_inform">
                <p>sunrisephoto</p>
                <span> © 2015-2018 Все права защищены.</span>


            </div>
        </div>

    </div>
</footer>


<script src='https://cdn.jsdelivr.net/jquery/3.1.1/jquery.js'></script>
<script src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js'></script>
<script src='https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js'></script>
<script src='https://kenwheeler.github.io/slick/slick/slick.js'></script>
<script src="libs/fancybox/jquery.fancybox.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script>

<script src="js/common.js"></script>

</body>
</html>
