<header class="main_header">
    <div class="content_menu">
        <div class="menu_btn" role="button"><a href="#" class="open_menu" title="open menu"><i class="fal fa-bars"></i> Меню</a></div>
        <nav class="navigation" role="navigation">
            <div class="panel panel--left">
                <ul class="menu-list">
                    <li><a href="#" title="home"><span class="litem">Home</span></a>
                        <i class="line"></i>
                    </li>
                    <li><a href="#" title="work"><span class="litem">Work</span></a>
                        <i class="line"></i>
                    </li>
                    <li><a href="#" title="contact"><span class="litem">Contact</span></a>
                        <i class="line"></i>
                    </li>
                </ul>

                <div class="close_btn right"><a href="#">close</a></div>
            </div>
        </nav>
    </div>
    <a href="#" class="logo_header"><img src="img/logo_b.png" alt=""></a>
    <ul class="social">
        <li><a href="#"><i class="fab fa-vk"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
</header>