<header class="main_header">
    <div class="content">
        <div class="menu_btn" role="button"><a href="#" title="open menu">menu</a></div>
        <nav class="navigation" role="navigation">
            <h2>main navigation</h2>
            <div class="panel panel--left">
                <ul class="menu">
                    <li><a href="#" title="home"><span class="litem">Home</span></a>
                        <i class="line"></i>
                    </li>
                    <li><a href="#" title="work"><span class="litem">Work</span></a>
                        <i class="line"></i>
                    </li>
                    <li><a href="#" title="contact"><span class="litem">Contact</span></a>
                        <i class="line"></i>
                    </li>
                </ul>

                <div class="close_btn right"><a href="#">close</a></div>
            </div>
        </nav>
    </div>
</header>