<header class="main_header">
    <div class="content_menu">
        <div class="menu_btn" role="button"><a href="#" class="open_menu" title="open menu"><i class="fal fa-bars"></i> Меню</a></div>
        <nav class="navigation" role="navigation">
            <div class="panel panel--left">
                <ul class="menu-list">

                    <li class="menu-item current-menu-item">
                        <a href="#"><span class="litem"> Свадьбы  </span></a>

                    </li>
                    <li class="menu-item ">
                        <a href="#"><span class="litem"> Фото-экскурсии </span></a>

                    </li>
                    <li class="menu-item ">
                        <a href="#"><span class="litem"> Портфолио </span></a>

                    </li>
                    <li class="menu-item ">
                        <a href="#"><span class="litem"> Обо мне  </span></a>

                    </li>
                    <li class="menu-item">
                        <a href="#"><span class="litem"> Цены </span></a>

                    </li>
                    <li class="menu-item ">
                        <a href="#"><span class="litem"> Контакты </span></a>

                    </li>
                </ul>

                <div class="close_btn right"><a href="#"><i class="fal fa-times"></i> Закрыть</a></div>
            </div>
        </nav>
    </div>
    <a href="#" class="logo_header"><img src="img/logo_b.png" alt=""></a>
    <ul class="social">
        <li><a href="#"><i class="fab fa-vk"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
</header>