<section  class="portfolio_main">
    <h2>портфолио</h2>




    <div class="slick-filter">
        <button id="show_all" class="active">Все фото </button>
        <button id="wedding">Свадебные & Лав Стори</button>
        <button id="individual">Индивидуальные фотосессии</button>
        <button id="family">Семейные фотосессии</button>
        <button id="komers">Коммерческие фотосессии</button>
    </div>
    <div class="slick-slider_1 portfolio_slider">
        <div class="slide wedding">
            <div class="slider_grid item">
                <div class="grid">
                    <div class="item"><a href="img/p_4.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_1.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_1.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_5.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_2.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_2.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_6.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_6.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_5.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_4.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_4.jpg" alt=""/></a></div>

                </div>
            </div>
        </div>
        <div class="slide individual">
            <div class="slider_grid item">
                <div class="grid">
                    <div class="item"><a href="img/i_4.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/i_1.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_1.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/i_5.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/i_2.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_2.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/i_6.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_6.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/i_5.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/i_3.jpg" class="fancybox_gall" data-fancybox="individual" ><img src="img/i_3.jpg" alt=""/></a></div>
                </div>
            </div>
        </div>

        <div class="slide family">
            <div class="slider_grid item">
                <div class="grid">
                    <div class="item"><a href="img/f_4.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_1.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_1.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_5.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_2.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_2.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_6.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_6.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_4.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_3.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_3.jpg" alt=""/></a></div>
                </div>
            </div>
        </div>

        <div class="slide komers">
            <div class="slider_grid item">
                <div class="grid">
                    <div class="item"><a href="img/k_2.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_2.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/k_6.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_6.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/k_5.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/k_4.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/k_4.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/k_1.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_1.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/k_5.jpg" class="fancybox_gall" data-fancybox="komers" ><img src="img/k_5.jpg" alt=""/></a></div>

                </div>
            </div>
        </div>

        <div class="slide wedding">
            <div class="slider_grid item">
                <div class="grid">
                    <div class="item"><a href="img/p_2.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_2.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_6.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_6.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_5.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_5.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_4.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_4.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_1.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_1.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/p_5.jpg" class="fancybox_gall" data-fancybox="wedding" ><img src="img/p_5.jpg" alt=""/></a></div>

                </div>
            </div>
        </div>



        <div class="slide family">
            <div class="slider_grid item">
                <div class="grid">
                    <div class="item"><a href="img/f_2.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_2.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_6.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_6.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_4.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_3.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_3.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_4.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_4.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_1.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_1.jpg" alt=""/></a></div>
                    <div class="item"><a href="img/f_5.jpg" class="fancybox_gall" data-fancybox="family" ><img src="img/f_5.jpg" alt=""/></a></div>

                </div>
            </div>
        </div>

    </div>
</section>
