<section class="price_section">
   <div class="container">
       <h2>Прайс на фотосессии в Таиланде</h2>
       <div class="row">
           <div class="col-xl-3 col-md-6">
               <div class="price_item">
                   <h3>Горячее предложение</h3>
                   <span>$90</span>
                   <ul>
                       <li>Длительность фотосессии
                           1 час</li>
                       <li>60 фотографий в авторской обработке + фото с ретушью</li>
                       <li>1 образ</li>
                       <li>Одежда и аксессуары <br>
                           (платья, парэо, аксессуары)
                       </li>
                   </ul>
                   <a data-fancybox="" data-src="#trueModal"  href="javascript:;" class="button">
                       Заказать
                   </a>
               </div>
           </div>
           <div class="col-xl-3 col-md-6">
               <div class="price_item">
                   <h3>Стандарт</h3>
                   <span>$169</span>
                   <ul>
                       <li>Длительность фотосессии
                           2 часа</li>
                       <li> 90 фотографий в авторской обработке + фото с ретушью</li>
                       <li> 2-3 разных образа</li>
                       <li>Одежда и аксессуары <br>
                           (платья, парэо, аксессуары)</li>
                       <li> Прическа в подарок <br>
                           (локоны, выпрямленные пряди или объемная прическа)</li>
                       <li>Профессиональный make-up в подарок</li>
                       <li>Трансфер на автомобиле от вашего места прибывания</li>
                   </ul>
                   <a data-fancybox="" data-src="#trueModal"  href="javascript:;" class="button">
                       Заказать
                   </a>
               </div>
           </div>
           <div class="col-xl-3 col-md-6">
               <div class="price_item">
                   <h3>Премиум</h3>
                   <span>$209</span>
                   <ul>
                       <li>Длительность фотосессии
                           2,5 - 3 часа</li>
                       <li>130 фотографий в авторской обработке + фото с ретушью</li>
                       <li>3-4 образа</li>
                       <li>Одежда и аксессуары <br>
                           (платья, парэо, аксессуары)</li>
                       <li>Прическа в подарок <br>
                           (локоны, выпрямленные пряди или объемная прическа)</li>
                       <li>Профессиональный make-up в подарок</li>
                       <li>Трансфер на автомобиле от вашего места прибывания</li>
                       <li>*Букет в подарок</li>
                   </ul>
                   <a data-fancybox="" data-src="#trueModal"  href="javascript:;" class="button">
                       Заказать
                   </a>
               </div>
           </div>
           <div class="col-xl-3 col-md-6">
               <div class="price_item">
                   <h3>Фототур</h3>
                   <span>$249</span>
                   <ul>
                       <li> Новинка! Мы разработали фототур для тех, кто хочет посмотреть остров на комфортабельном автомобиле и получить фотокарточки из самых экзотических мест острова.</li>
                       <li>Мы создаем маршрут из спика самых экзотических уголков острова Пхукет</li>
                       <li>Заезжаем за Вами и едем по составленному маршруту</li>
                       <li> Проводим фотосессию в выбранных местах и рассказываем Вам о них</li>
                       <li>130 - 150 фотографий в авторской обработке + фото с ретушью</li>
                       <li>Make-up, прическа, трансфер, одежда и аксессуары.</li>
                   </ul>
                   <a data-fancybox="" data-src="#trueModal"  href="javascript:;" class="button">
                       Заказать
                   </a>
               </div>
           </div>
       </div>
   </div>
</section>